html {
    background-color: #ddd;
    height: 200vh;
}
aside {
    background-color: #eee;
    border: 2px solid black;
    width: 30vw;
    height: 80vh;
    position: fixed;
    right: 20px;
    top: 10vh;
    margin: 0;
    padding: 0;
}
aside ul li {
    margin: 10px 5px;
    background-color: #ffd9c3;
    border: 2px dashed darkorange;
    list-style-type: none;
}